@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    margin: 0px;
}

.contest-img {
    height: 80%;
    width: 80%;
    top: 300px;
    text-align: center;
}

.img-div {
    height: 344px;
    width: 342px;
    border-radius: 12px;
    border-style: dashed;
    margin: 12px;
    text-align: center;
    margin-top: ;
}

.ArtContest {
    margin-top: 26px;
    margin-left: 15px;
    color: #8C97A4;
    font-family: Roboto;
}

.contest-des {
    margin-left: 15px;
    border-radius: 1px;
    color: #8BC7FF;
    font-family: Roboto;
    width: 100%;
}

.Descrip {
    border: solid #8BC7FF 1px;
    border-radius: 12px;
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 3%;
    font-family: Roboto;

}

.call-to-action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.pushable {
    background: #1375E4;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.2rem;
    background: #59CDFF;
    font-family: 'Mochiy Pop One';
    text-shadow: 0px 1px 0px #367DCA;
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.lorem {
    text-align: center;
    color: #8C97A4;
}

.sapne-waalis h2 {
    font-family: 'Mochiy Pop One';
    color: #1375E4;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.fa {
    color: red;
}

.uplod-div {
    height: 344px;
    width: 342px;
    border-radius: 12px;
    border-style: dashed;
    margin: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.uplod-div i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1375E4;
}

#UploadArtwork {
    display: none;
}

i {
    margin-left: 40px;
    margin: auto;
}

label {
    color: #1375E4;
    font-family: Roboto;
}

footer {
    background-color: #1375E4;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.social-media,
.links {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.social-media {
    padding-top: 10px;
}

.social-media ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-top: -10px;
}

.social-media ul li {
    margin-right: 5px;
}

.social-media ul li img {
    border-radius: 20%;
}

.links ul {
    list-style: none;
    padding-left: 0;
}

.links ul li {
    margin-bottom: 15px;
}

.links ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.9;
}

.social-media img:hover {
    cursor: pointer;
    opacity: 0.9;
}

@media(min-width: 768px) {
    .uplod-div {
        width: 80%;
        max-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }
}

@media(min-width: 1025px) {
    .uplod-div {
        width: 80%;
        max-height: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }
}